<%= stylesheet_link_tag "content_layout" %>
<%= stylesheet_link_tag "table" %>
<%= javascript_include_tag "table" %>


<div id="staff" class="content-warp rounded">
	<div class="content-main full">
		<table id="gps_moduls" class="data-table">
		  <thead style="display:none;">
		  	<tr>
					<th></th>
					<th></th>
					<th>IMEI</th>
			    <th>Телефон</th>
			    <th>Машина</th>
			    <th>Организация</th>
					<th></th>		   
				</tr>
		  </thead>

			<tbody>
			<% @gps_moduls.each do |gps_modul| %>
			  <tr class="staff dt-row" onclick="selectRow(this)" ondblclick="dbclkRow(this)">
					<td ><%= link_to '', gps_modul, { :style => "display:none"} %></td>
					<td><img src="images/info_show.png"/ class="info"></td>
			    <td><%= gps_modul.imei %></td>
			    <td><%= gps_modul.phone %></td>
			    <td><%= gps_modul.car %></td>	   
					<td><%= link_to gps_modul.organisation.name, organisation_path(gps_modul.organisation) %></td>
			   	<td><%= favorite(gps_modul) %></td>
			  </tr>
			<% end %>
			<tbody>
		</table>
	</div>


</div>