<%= stylesheet_link_tag "content_layout" %>
<%= stylesheet_link_tag "table" %>
<%= stylesheet_link_tag "sidebar" %>
<%= javascript_include_tag "table" %>
<%= javascript_include_tag "sidebar" %>

<div id="doings" class="content-warp rounded">

	<div class="content-sidebar">		
			<nav id="doingMenu" class="selectable-menu">
				<header>Задачи</header>
				<li class="selected">
					<%= link_to "Все", doings_path, { :id =>"doingSelector", :class =>"selector"} %>
				</li>
			</nav>
	</div>

	<div class="content-main" >
		 <div class="result"></div>
	</div>	
	
	<div class="content-footer">
		footer
	</div>

</div>