<%= stylesheet_link_tag "content_layout" %>
<%= stylesheet_link_tag "table" %>
<%= javascript_include_tag "table" %>


<div id="organisations" class="content-warp rounded">
	<div class="content-main full">
		<table class="data-table">
			<thead>
					<th></th>
			    <th></th>
			    <th></th>
			    <th></th>
			</thead>
			
				<tbody>
				<% @organisations.each do |organisation| %>
				  <tr id="<%= organisation.id %>" class="organisation dt-row">
						<td ><%= link_to '', organisation, { :style => "display:none"} %></td>
				    <td><%= organisation.name %></td>
				    <td><%= link_to image_tag("edit.png", :border=>0), edit_organisation_path(organisation) %></td>
				    <td><%= link_to image_tag("delete.png", :border=>0), organisation, :confirm => 'Are you sure?', :method => :delete %></td>
				  </tr>
				<% end %>
			</tbody>
		</table>
	
	<div>
</div>