<%= stylesheet_link_tag "content_layout" %>
<%= stylesheet_link_tag "sidebar" %>
<%= javascript_include_tag "sidebar" %>

<div class="content-warp rounded">
	
	<div class="content-sidebar">
		<nav id="organisationMenu" class="selectable-menu">
			<header>Работники</header>
			<li class="selected">
				<%= link_to "Все", organisation_persons_path(@organisation), { :id =>"personSelecor", :class =>"selector"} %>
			</li>
		</nav>
			
		<nav id="staffMenu" class="selectable-menu">
			<header>Стаф</header>
			<li >
				<%= link_to "Gps модули", organisation_gps_moduls_path(@organisation), { :id =>"gpsModulsSelector", :class =>"selector"} %>
			</li>
		</nav>
		
			<nav id="doingMenu" class="selectable-menu">
				<header>Задачи</header>
				<li >
					<%= link_to "Все", organisation_doings_path(@organisation), { :id =>"doingSelector", :class =>"selector"} %>
				</li>
			</nav>
	</div>
	
	<div class="content-main">
		<header>
			<table>
				<tbody>
					<tr class="header-title">
						<td><%= @organisation.name %></td>
					</tr>

					<tr class="address">
						<td>
							<span class="label">Адрес:</span>
							<%= editable_field(@organisation, "address") %>
						</td>
					</tr>
					
					<tr class="phones">
						<td>
							<span class="label">Контакты:</span>
						</td>
					</tr>
					<tr class="lagin_password">
						<td>
							<span class="label">Логин:</span><span><%= @organisation.login %></span>
							<span class="label">Пароль:</span><span><%= @organisation.password %></span>
						</td>
					</tr>
				</tbody>
			</table>
		</header>
		
		<p id="notice"><%= notice %></p>
		
		<div class="result">
		</div>
		
		
		
	</div>
	

</div>